@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.57);
}
html{
    background: #0E0E0E;
}
//HEADER

header{
    padding: 0 10px 0 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background: var(--main-gradient, linear-gradient(180deg, #232323 0%, #151515 100%));
    box-shadow: 0px 1px 0px 0px #2D2D2D;
}
header .left{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 40px;
}
header .left #logo{
    max-width: 160px;
    max-height:41px;
}
header .left #left{
    display: flex;
    gap: 40px;
    height: 100%;
}
header .left #left li{
    height: 100%;
}
header .left #left li a{
    display: flex;
    padding: 0 8px 0 8px;
    height: 100%;
    align-items: center;
}
header .left #left #active{
    height: 100%;
    background: #22B14C;
}
header .left #left #active a{
    display: flex;
    height: 98%;
    color: #fff;
    align-items: center;
    margin-top: 2px;
    background: var(--main-gradient, linear-gradient(180deg, #232323 0%, #151515 100%));
    box-shadow: 0px 13px 33px 0px rgba(0, 0, 0, 0.30) inset;    
}
header .right{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 30px;
}
header .right #right{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .right #right li{
    display: flex;
    border-radius: 3px;
    background: var(--header-right-button-back, #151515);
    height: 44px;
    align-items: center;
    width: 44px;
    justify-content: center;
}

header .right .money_nickname{
    display: flex;
    padding: 7px;
    border-radius: 3px;
    background: var(--header-right-button-back, #151515);
}
header .right .money_nickname .wrap{
    display: flex;
    gap: 1px;
    background: #292929;
}
header .right .money_nickname .wrap p{
    background: var(--header-right-button-back, #151515);
    color: #FFF;
    padding: 6px;
}
header .right #withdraw{
    color: #FFF;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 2.796px;
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
}
header .right #language{
    border-radius: 3px;
    border: 1px solid #484848;
    background: #2F2F2F;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.55);
}
header .right .dropbtn {
    background: #2F2F2F;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.55);
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #484848;
}
header .right .dropdown-content {
    display: none;
    border-radius: 3px;
    border: 1px solid #484848;
    border-top: 0px;
    position: absolute;
    background: #2F2F2F;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.55);
    z-index: 1;
    margin-top: -7px;
}
header .right .dropdown-content a {
    padding: 8px;
    display: block;
}
header .right .dropdown-content a:hover {
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
}
header .right .dropdown:hover .dropdown-content {
    display: block;
}
header .right .sign-out{
    display: flex;
    width: 44px;
    height: 44px;
    background: url(../assets/sign-out-b.svg);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

//MAIN

main{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    background: #0E0E0E;
    padding-top: 4px;
    justify-content: space-between;
}
main .left{
    background: #151515;
    width: 210px;
}
main .left #time{
    display: flex;
    flex-direction: row;
    background: var(--white-gradient, linear-gradient(180deg, #F1F1F1 0%, #9E9E9E 100%));
}
main .left #time li{
    padding: 10px 7px;
    color: #0E0E0E;
    font-weight: 500;
    cursor: pointer;
}
main .left #time .active{
    background: linear-gradient(180deg, rgba(141, 141, 141, 0.30) 0%, rgba(168, 168, 168, 0.30) 100%);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15) inset;
}

main .left .countries .title{
    display: flex;
    margin:10px;
    align-items: center;
}
main .left .countries .title p{
    color: #F9f9f9;
    font-size: 14px;
    font-weight: 500;
    line-height: 28.714px;
}
main .left .countries .dropdown{
    margin-left: 6px;
    
}
main .left .countries .dropdown .country{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 6px;
}
main .left .countries .dropdown .country .left{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
main .left .countries .dropdown p{
    color:#FFF;
}
main .left .countries .dropdown .ligues a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:11px;
    margin-top: 2px;
    border-radius: 2px 2px 0px 0px;
    background: #1B1B1B;
}
main .mid{
    margin-left:2px;
}
main .mid table{
   border-spacing: 0;
}
main .mid table th{
    border-left:1px solid rgba(255, 255, 255, 0.21);
    box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 7px;
    color: #0E0E0E;
    font-weight: 500;
    cursor: pointer;
    background: var(--white-gradient, linear-gradient(180deg, #F1F1F1 0%, #9E9E9E 100%));
}
main .mid table td .location{
    background: url("../assets/Frame 1.svg");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 3px;
    width:210px;
}
main .mid table td .location img{
    margin:2px;
}
main .mid table td .numbers, main .mid table td .numbers-negative{
    margin-top: 10px;
}
main .mid table td .numbers, main .mid table td .numbers-negative, main .mid table td .numbers-positive, main .mid table td .goals-positive, .goals{
    padding: 14px 7px;
    color: #161616;
    text-align: center;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.227px;
    border-radius: 2.796px 2.796px 0px 0px;
    border-bottom: 2px solid #C50F2D;
    background: var(--white-gradient, linear-gradient(180deg, #F1F1F1 0%, #9E9E9E 100%));
}
main .mid table td .numbers-positive{
    border-top: 2px solid #54B052;
    border-bottom: 0;
    margin-top: 9px
}
main .mid table td .numbers{
    border-bottom: 0;
    width: 33px;
}
main .mid table td .goals-positive{
    color:#FFF;
    border-radius: 2.796px;
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
    border-bottom: 0;
}
main .mid table td .goals{
    border-bottom: 0;
}
main .mid table td .buttons{
    display: flex;
    justify-content: center;
    gap: 1px;
}
main .mid table td .buttons .l,main .mid table td .buttons .r{
    display: flex;
    border-radius: 2px;
    background: #161616;
    padding: 5px 13px;
    align-items: center;
    color: #FFF;
}

main .right .up{
    display: flex;
    justify-content: space-around;
}
main .right .up .title{
    display: flex;
    flex-direction: row;
    border: 1px solid #22B14C;
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
    width: 234px;
    height: 37px;
    margin-left: 2px;
    align-items: center;
    padding-left:12px;
    gap: 5px;
    
}
main .right .up .title p{
    color:#FFF;
}
main .right .up .button {
    display: flex;
    flex-direction: row;
    border: 1px solid #22B14C;
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
    height: 37px;
}
main .right .up .button img{
    width: 13px;
    margin: 8px;
}
main .right .middle .list .choose{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 32px;
    background: #151515;
}
main .right .middle .list .FC-list {
    background: #151515;
    height: 495px;
}
main .right .middle .list .FC-list .point{
    display: flex;
    justify-content: space-between;
    padding: 11px 9px;
}
main .right .middle .list .FC-list .point p{
    color: #FFF;
}
main .right .middle .list .FC-list .point span{
    color: #22B14C;
}
main .right .middle .list .FC-list .point .right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    cursor: pointer;
}
main .right .middle .list .FC-list .point .right p{
    border-radius: 2px;
    background: #22B14C;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    padding: 0 4px;
}
main .right .middle .list .FC-list .point .right img{
    margin-bottom: 5px;
}
main .right .bottom{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 10px;
}
main .right .bottom .row{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
main .right .bottom .row p{
    font-size: 12px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.60)
}
main .right .bottom .stake{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
main .right .bottom .stake img{
    border-radius: 2px;
    border: 0.736px solid #2D2D2D;
    background: #0E0E0E;
    padding: 14px 16px;
    cursor: pointer;

}
main .right .bottom .stake-amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.736px solid #2D2D2D;
    background: #0E0E0E;
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: #CACACA;
    padding: 10px;
}
main .right .bottom .stake-num{
    display: flex;
    flex-direction: row;
}
main .right .bottom .stake-num p{
    border-radius: 2px;
    border: 0.736px solid #2D2D2D;
    background: #0E0E0E;
    padding: 14px 16px;
    color: #FFF;
    cursor: pointer;
}
main .right .bottom .place{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.796px;
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 0.227px;
    padding: 13px 72px;
}

//FOOTER
footer{
    width: 1411px;
    margin-top: -173px;
    position: fixed;
    bottom: 0;
}
footer .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--main-gradient, linear-gradient(180deg, #232323 0%, #151515 100%));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer .bottom .rectangle{
    position: relative;
    cursor: pointer;
}
footer .bottom .rectangle p{
    position: absolute;
    top:30%;
    color:#FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.227px;
}

footer .choose-sports{
    display: flex;
    flex-direction: row;
}
footer .choose-sports .sport{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 95px;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
}
footer .choose-sports .sport p{
    margin-top: 6px;
    width: 33px;
    text-align: center;
    color: #FFF;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.35);;
    font-family: Roboto,sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}
footer .choose-sports #active{
    margin-top: 0;
    border: 1px solid #54B052;
    background: var(--green-gradient, linear-gradient(180deg, #54B052 0%, #287226 100%));
}